.solicitarCotiz {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.solicitarCotizTitle {
    font-size: 2.5rem;
    font-weight: 500;
    color: #0275d8;
    margin-bottom: 2rem;
    text-align: center;
}
.solicitarCotizWrapper {
    background-color: white;
    width: 60%;
    height: 60%;
    padding: 2vw 4vw;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.71); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.71);
}

.solicitarCotizContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.solicitarCotizTopController {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}
.solicitarCotizList {
    width: 80%;
    display: flex;
    color: gray;
    justify-content: space-around;
}
.solicitarCotizItemActive{
    color: #0275d8;
    text-decoration: underline;
}
.solicitarCotizLine {
    border: 1px solid gray;
    opacity: 0.4;
    margin: 1rem 0;
}
.solicitarCotizCenter {
    padding: 2vw;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.solicitarCotizBottomController{
    padding: 1vw;
    display: flex;
    justify-content: space-between;
}
.solicitarCotizBtn {
    height: 2.5rem;
    border-radius: 0.4rem;
    border: none;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0.5rem;
}
.solicitarCotizBtnVolver {
    background-color: #0275d8;
}
.solicitarCotizBtnCancelar {
    background-color: #d9534f;
    margin-right: 1rem;
}
.solicitarCotizBtnContinuar{
    background-color: forestgreen;
}

.header {
        overflow: hidden;
        background-color: firebrick;
        padding: 20px 10px;
    }
    .header a {
        float: left;
        color: white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 15px;
        line-height: 25px;
        border-radius: 4px;
      }
      .titulo {
        letter-spacing: 4px;
       }
       .header-right {
        float: right;
      }