.formTitle {
    font-size: 1.2rem;
    color: black;
}
.labelTitle{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}
.formSelect {
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    height: 2rem;
    box-shadow: 0 1px 3px -2px;
    min-width: 5rem;
    border: 0.1rem solid gray;
}
.formSelect:focus {
    outline: none;
    border: 0.1rem solid royalblue;
}
.formInput {
    height: 2rem;
    border: 0.1rem solid gray;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    background-color: whitesmoke;
}
.formselectcontacto{
    width: 100px;
}
.formInput:focus {
    outline: none !important;
    border: 0.1rem solid #0275d8;
}
.formButton {
    height: 2rem;
    border-radius: 0.4rem;
    border: none;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0.5rem;
}
.form-button {
    display: flex;
    justify-content: center;
}
.formbtncontacto {
    background-color: rgb(47, 161, 47);
}
.formcontactos {
    padding: 1.5vw;
}
.form2{
    display: flex;
    justify-content: space-between;
}
.form3{
    display: flex;
    flex-direction: column;
}
.form3select{
    margin-bottom: 1.5rem;
    align-self: center;
    width: 70%;
    height: 3.5vh;
}
.labelArea {
    min-width: 5rem;
}
.labelProveedor {
    min-width: 7.5rem;
}
.labelOperario {
    min-width: 7rem;
}