
.nav, .nav li ul{
    padding: 0;
    list-style: none;
    text-align: center;
}
.linkitem {
    text-decoration: none;
    background-color: #1a759f;
    color: snow;
    padding: 1vh;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.nav li a:hover {
    background-color: #1b87bb;
    transition-duration: 500ms;
}
.nav li {
    min-width: 7vw;
}
.nav > li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
}
.nav li:hover > ul{
    display: block;
}