.reclamo {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.reclamoTitle {
    font-size: 2.5rem;
    font-weight: 500;
    color: #0275d8;
    margin-bottom: 2rem;
    text-align: center;
}
.reclamoBottomController{
    padding: 1vw;
    display: flex;
    justify-content: space-between;
}
.reclamoBtn {
    height: 2.5rem;
    border-radius: 0.4rem;
    border: none;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0.5rem;
}
.reclamoBtnCancelar {
    background-color: #d9534f;
    margin-right: 1rem;
}
.reclamoBtnEnviar{
    background-color: forestgreen;
}