.register {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.registerTitle {
    font-size: 2.5rem;
    font-weight: 500;
    color: #0275d8;
    margin-bottom: 2rem;
    text-align: center;
}
.registerWrapper {
    background-color: white;
    width: 60%;
    height: 60%;
    padding: 2vw 4vw;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.71); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.71);
}

.registerContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.registerTopController {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}
.registerList {
    width: 80%;
    display: flex;
    color: gray;
    justify-content: space-around;
}
.registerItemActive{
    color: #0275d8;
    text-decoration: underline;
}
.registerLine {
    border: 1px solid gray;
    opacity: 0.4;
    margin: 1rem 0;
}
.registerCenter {
    padding: 2vw;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.registerBottomController{
    padding: 1vw;
    display: flex;
    justify-content: space-between;
}
.registerBtn {
    height: 2.5rem;
    border-radius: 0.4rem;
    border: none;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0.5rem;
}
.registerBtnVolver {
    background-color: #0275d8;
}
.registerBtnCancelar {
    background-color: #d9534f;
    margin-right: 1rem;
}
.registerBtnContinuar{
    background-color: forestgreen;
}
