.pedido {
  height: calc(100vh - 50px);
  margin-top: 50px;
}
.pedidoWrapper {
  display: flex;
}
.pedidoLeft {
  flex: 3;
}
.pedidoCenter {
  flex: 5.5;
}
.pedidoCenterWrapper {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}
.pedidoBuscador {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}
.searchIcon {
  margin-right: 0.2rem;
}
.pedidoRigth {
  flex: 3.5;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}
.pedidoRigthWrapper {
    padding: 2vw;
}