.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.loginLeft, .loginRigth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vw;
}

.loginLeft {
  flex: 1;
}
.loginRigth {
  flex: 1;
  align-items: center;
}

.loginTitle {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #0275d8;
  text-align: center;
}
.loginImg {
  margin-bottom: 1.5rem;
}
.loginDescription {
  font-size: 1.2rem;
}

.loginForm {
  background-color: white;
  padding: 2vw;
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65%;
  -webkit-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.7); 
  box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.7);
  border-radius: 1rem;
}
.loginInput {
  height: 3rem;
  border: 0.1rem solid gray;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  padding-left: 1rem;
}
.loginInput:focus {
  outline: none !important;
  border: 0.1rem solid #0275d8;
}
.loginButton {
  height: 2.5rem;
  border-radius: 0.4rem;
  border: none;
  color: whitesmoke;
  font-size: 1.2rem;
  background-color: #0275d8;
  font-weight: 500;
  cursor: pointer;
}
.loginButton:focus {
  outline: none !important;
  background-color: #488fec;
  transition-duration: 500ms;
}
.loginButton:hover {
  background-color: #488fec;
  transition-duration: 500ms;
}
.loginForgot {
  text-align: center;
  color: #0275d8;
  text-decoration-line: underline;
  cursor: pointer;
}
.loginRegisterLink {
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  background-color: forestgreen;
  border-radius: 0.4rem;
  border: none;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}
.loginRegisterLink:focus {
  outline: none;
  background-color: #3eb63e;
  transition-duration: 500ms;
}
.loginRegisterLink:hover {
  background-color: #3eb63e;
  transition-duration: 500ms;
}