.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #1a759f;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.topbarLeft {
    flex: 3;
}
.logo{
    font-size: 22px;
    margin-left: 2vw;
    font-weight: bold;
    color: snow;
    cursor: pointer;
}

.topbarCenter {
    flex: 5;
}
.searchbar {
    width: 100%;
    height: 30px;
    background-color: snow;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}
.searchInput {
    border: none;
    width: 100%;
    height: 70%;
    background-color: snow;
    margin-right: 35px;
}
.searchInput:focus {
    outline: none;
}
.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: snow;
}
.topbarLinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 6;
}
.topbarLink {
    margin-left: 2vw;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.topbarIcons {
    display: flex;
    flex: 4;
}
.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.topbarIconBadge {
    font-weight: bold;
    font-size: 14px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: snow;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.iconAvatar {
    margin-right: 2vw;
}